{% extends 'base.html' %}

{% block login/logout %}
  {% if user.is_authenticated %}
    <a href='/logout' style="color:black">Выйти</a>
  {% else %}
    <a href='/login' style="color:black">Войти</a>
    |
    <a href="/register" style="color:black">Регистрация</a>
  {% endif %}
{% endblock %}

{% block content %}
  <h2>Форумчик</h2>
  
  {% if user.is_authenticated %}
    <p>You are logged in as {{ user }}.</p>
  {% else %}
    <p>You are anonymous.</p>
  {% endif %}
  
  {% if errors %}
    <p style="color:red" class="error">{{ errors }}</p>
  {% endif %}
  
  {% for message in messages %}
    <ul>
      <li>
        <div style="border-style:solid;word-wrap: break-word;width:500px;background-color:#ffeeff;">
          <font style="color:green">
            {% if message.user %}
              {{ message.user.get_username }}:
            {% else %}
              Anonymous:
            {% endif %}
          </font>
          {{ message.text }}
        </div>
      </li>
    </ul>
  {% endfor %}

  <form action="" method="post">
    <label for="label">Сообщение:</label><br>
    <textarea style="width:500px;height:50px" name="message_text" value="" id="message_text"></textarea><br>
    <input type="submit" value="Отправить" />
  </form>
{% endblock %}
