{% extends 'base.html' %}

{% block login/logout %}
  {% if user.is_authenticated %}
    <a href='/logout' style="color:black">Выйти</a>
  {% else %}
    <a href='/login' style="color:black">Войти</a>
    |
    <a href="/register" style="color:black">Регистрация</a>
  {% endif %}
{% endblock %}

{% block content %}
  <h2>Форумчик</h2>
  
  {% if user.is_authenticated %}
    <p>You are logged in as {{ user }}.</p>
  {% else %}
    <p>You are anonymous.</p>
  {% endif %}
  
  {% for message in messages %}
    <ul>
      <li>
          {{ message.text }}
      </li>
    </ul>
  {% endfor %}

{% endblock %}
